/*Make map show up*/
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
      height: 100%;
      left: 0px;
      position: absolute;
      right: 0px;
}

.options-box {
      background: #fff;
      border: 1px solid #999;
      border-radius: 3px;
      height: 100%;
      line-height: 35px;
      padding: 10px 10px 30px 10px;
      text-align: left;
      }

#pano {
        width: 200px;
        height: 200px;
      }

.leaflet-marker-icon {
      background: url(https://foursquare.com/img/pin-blue-transparent.png);
      padding: 6px;
      padding-bottom: 17px;
      top: -6px;
      left: -6px;
      }
  </style>